@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Oswald:700);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url(https://fonts.googleapis.com/css?family=Crete+Round);
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);



#bg {
  background: url(../image/bg.jpg) 50% 0 no-repeat fixed;
  margin: 0 auto;
  width: 100%;
  height:90%;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  .slides{
    width: 100%;
    height: 100%;
    padding: 2em;
    background: rgba(0,0,0,.2);
    .slidesjs-container,.slidesjs-control{
      width: 100% !important;
      height: 98% !important;
    }
    .slidesjs-navigation{
      display: none;
    }
    .slidesjs-pagination{
      list-style:none;
      overflow:hidden;
      display: flex;
      justify-content: center;
      position: relative;
      z-index: 2;

      li {
        float:left;
        padding: .2em;
        a {
          display:block;
          color:#fff;
          text-decoration:none;
          color: transparent;
          cursor: pointer;
          border: solid 2px rgba(0,0,0,.7);
          width: 12px;
          height: 12px;
          border-radius: 50%;
          &:hover {
            background:rgba(0,0,0,.5);
          }
          &.active {
            background:rgba(0,0,0,.5);
          }
        }
      }
    }

    .slide--item{
      width: 100%;
      height: 100%;
      display: flex !important;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background: rbga(0,0,0,.3);
      h2{
        font-size: 5em;
        font-family: 'Montserrat', sans-serif;
        color: #fff;
        overflow: hidden;
      }
      p{
        font-family: 'PT Sans Narrow', sans-serif;
        text-transform: uppercase;
        font-size: 2em;
        color: #fff;
        overflow: hidden;
      }
    }
  }
}

.container{
  transition-duration: 0.5s;
  section{
    padding:6em 1em 6em 1em;
    width: 100%;

    &#desarrollo{
      position: relative;
      box-shadow: 0 0 10px rgba(0,0,0,.5);
      .desarrollo--container{
        max-width: 1200px;
        display: flex;
        margin: 0 auto;
        padding: 1em;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        flex-direction: column;
        .desarrollo--title{
          width: 100%;
          text-align: center;
          margin-bottom: 4em;
          h3{
            font-family: 'Fjalla One', sans-serif;
            font-size: 4em;
          }
        }

        .desarrollo--body{
          display: flex;
          flex-direction: row;
          -webkit-flex-flow: row wrap;
          flex-flow: row wrap;
          article{
            box-shadow: 0 0 5px #000;
            padding:1.5em;
            width: calc(25% - 1em);
            margin:.2em .5em;

            figure{
              img{
                width:100%;
              }
            }

            h3{
              color: #757575;
              height: 2.5em;
              display: flex;
              align-items: center;
            }
            p{
              padding-top:1em;
              overflow: hidden;
            }
          }
        }
        
      }
    }

    &#trabajo{
      background: #F5F5F5;
      .trabajo--container{
        padding:3em 1em;
        display: flex;
        flex-direction: column;

        margin: 0 auto;
        width: 100%;
        max-width: 1200px;
        .trabajo--title{
          width:100%;
          text-align: center;
          margin-bottom: 4em;
          h3{
            font-family: 'Fjalla One', sans-serif;
            font-size: 4em;
          }
        }
        .trabajo--body{
          display: flex;
          flex-direction: row;
          -webkit-flex-flow: row wrap;
          flex-flow: row wrap;
          figure{
            width:calc(25% - 2em);
            margin:0 1em;
            overflow: hidden;
            a{
              display: block;
              border-radius: 50%;
              transition-duration: 0.5s;
              position: relative;
              border-width: 50px 23px 0;
              img{
                width:100%;
              }
              &:hover{
                transform: rotate(360deg);
              }
              &:before {
                content: "";
                position: absolute;
                height: 0;
                width: 0;
                top: -90px;
                left: -24px;
              }
            }

          }
        }
      }
    }
  }

  &.act{
    margin-top:122px;
  }
}

@media(max-width: 1000px){
  .container{
    section#desarrollo{
      .desarrollo--container{
        flex-direction: column;
        article{
          margin: 1em 0;
          width:25%;
        }
      }

    }
    &.act{
      margin-top:0;
    }
  }
}

@media(max-width: 999px){
  #bg{
    .slides{
      .slide--item{
        h2{
          font-size:3em;
        }
        p{
          font-size: 2em;
        }
      }
    }
  }

  .container{
    section#desarrollo{
      .desarrollo--container{
        flex-direction: row;
        justify-content: center;
        article{
          margin: 1em 1em;
          width:calc(33.3333% - 2em);
        }
      }
    }
  }

  nav{
    &::-webkit-scrollbar{
      width:0;
    }
  }
}
//mobile-portrait
@media(max-width: 700px){
  #bg{
    .slides{
      .slide--item{
        h2,p{
          font-size:3em;
          text-align: center;
        }
      }
    }
  }

  nav{
    height:100%;
    width:50%;
    top:0;
    position: fixed;
    left:-100vw;
    overflow: scroll;
    z-index:2;
    .flex-content{
      flex-direction:column;
      height: auto;
      .flex-item{
        text-align: left;
        flex:initial;
        &.logo{
          padding: 2em .4em;
        }
        a{
          padding-bottom:1em;
          padding-top:1em;
          justify-content: initial;
          height:auto;
        }
      }
    }
  }

  .bloq-capa{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index:1;
  }

  main{
    display: block;
    z-index:2;
  }

  .container{
    section{
      &#desarrollo{
        .desarrollo--container{
          .desarrollo--body{
            flex-direction: row;
            article{
              margin: 1em 1em;
              width:calc(50% - 2em);
            }
          }
        }

      }
      &#trabajo{
        article{
          .trabajo--body{
            figure{
              width:calc(50% - 2em);
            }
          }
        }
      }
    }

  }

  footer{
    flex-direction:column;
    p,#social{
      flex:initial;
    }

    p{
      font-size:.95em;
      justify-content: center;
      padding:.2em 0;
    }

    #social{
      justify-content: center;
      padding-top:.5em;
      padding-right:0;
    }
  }
}

@media(max-width: 500px){
  #bg{
    .slides{
      .slide--item{
        h2,p{
          font-size:2.2em;
          text-align: center;
        }
      }
    }
  }

  .container{
    section{
      &#desarrollo{
        .desarrollo--container{
          .desarrollo--body{
            padding: .1em;
            flex-direction: column;
            article{
              width:100%;
              margin:1em 0;
            }
          }
        }
      }
      &#trabajo{
        .trabajo--container{
          .trabajo--body{
            figure{
              width: calc(50% - 2em);
            }
          }
        }
      }
    }
  }
}