footer
    p © 3Dev Business & Consulting S.A.C - 2016
    #social
        a(href="")
            i.fa.fa-facebook
        a(href="")
            i.fa.fa-twitter
        a(href="")
            i.fa.fa-linkedin
.go-up
    a#go-up-btn
        i#go-up-icon(class="fa fa-chevron-up" aria-hidden="true")