nav#nav-menu
    ul.flex-content
        li.flex-item.logo
            a(href='index.html')
                img(src="image/3dev.png", alt="")
        li.flex-item
            a(href='index.html') Inicio
        li.flex-item
            a(href='cursos.html') Cursos
        li.flex-item
            a(href='#') Soluciones
        li.flex-item
            a(href='#') Conocenos
        li.flex-item
            a(href='#') Blog
        li.flex-item
            a(href='#') Contacto
main.desact
    a#main-btn
        i#main-icon(class="fa fa-bars" aria-hidden="true")